{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">

    <h1 class="text-center mb-5">Development Team</h1>

    <!-- MEMBER 1 -->
    <div class="card mb-4 shadow" style="max-width: 700px; margin:auto;">
        <div class="row g-0">

            <div class="col-md-4">
                <img src="{% static 'image/isha-img.jpeg' %}"
                     class="img-fluid rounded-start h-100"
                     alt="isha-img"
                     style="object-fit: cover;">
            </div>

            <div class="col-md-8">
                <div class="card-body">

                    <h3 class="card-title">Isha Singh</h3>

                    <p class="card-text">
                        Backend Developer of Campus Help Hub Project.
                    </p>

                    <p class="card-text">
                        <small class="text-body-secondary">
                            Python • Django • Database
                        </small>
                    </p>

                </div>
            </div>

        </div>
    </div>



    <!-- MEMBER 2 -->
    <div class="card mb-4 shadow" style="max-width: 700px; margin:auto;">
        <div class="row g-0">

            <div class="col-md-4">
                <img src="{% static 'images/member2.jpg' %}"
                     class="img-fluid rounded-start h-100"
                     alt="Member 2"
                     style="object-fit: cover;">
            </div>

            <div class="col-md-8">
                <div class="card-body">

                    <h3 class="card-title">member2</h3>

                    <p class="card-text">
                        Frontend Developer and UI Designer.
                    </p>

                    <p class="card-text">
                        <small class="text-body-secondary">
                            HTML • CSS • Bootstrap
                        </small>
                    </p>

                </div>
            </div>

        </div>
    </div>



    <!-- MEMBER 3 -->
    <div class="card mb-4 shadow" style="max-width: 700px; margin:auto;">
        <div class="row g-0">

            <div class="col-md-4">
                <img src="{% static 'images/member3.jpg' %}"
                     class="img-fluid rounded-start h-100"
                     alt="Member 3"
                     style="object-fit: cover;">
            </div>

            <div class="col-md-8">
                <div class="card-body">

                    <h3 class="card-title">member3</h3>

                    <p class="card-text">
                        Project Documentation and Testing Manager.
                    </p>

                    <p class="card-text">
                        <small class="text-body-secondary">
                            Testing • Documentation • Support
                        </small>
                    </p>

                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
