{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<style>
/*home page css*/
{% comment %} hero section custom css {% endcomment %}
    body{
        background:#f7f8ff;
    }



    .hero-box{
        background:linear-gradient(135deg,#f7f8ff,#ecebff);
        border-radius:30px;
        padding:60px;
        margin-top:0;
    }



    .custom-badge{
        background:#ece8ff;
        color:#6c63ff;
        padding:10px 20px;
        border-radius:30px;
        font-weight:600;
        display:inline-block;
    }



    .hero-title{
        font-size:48px;
        font-weight:800;
        line-height:1.2;
        color:#111;
    }

    .hero-title span{
        color:#6c63ff;
    }



    .hero-text{
        color:#666;
        font-size:16px;
        line-height:1.6;
    }



    .get-btn{
        background:linear-gradient(135deg,#6c63ff,#5f8dff);
        color:white;
        padding:10px 22px;
        border-radius:15px;
        font-weight:600;
        border:none;
    }

    .get-btn:hover{
        color:white;
    }

    .explore-btn{
        border:2px solid #6c63ff;
        color:#6c63ff;
        padding:12px 28px;
        border-radius:15px;
        font-weight:600;
    }

    .explore-btn:hover{
        background:#6c63ff;
        color:white;
    }

    .hero-image{
        width:100%;
        max-width:500px;
    }

/* Used in:
   - templates/home.html
*/

.hero-avatar{
    width: 45px;
    height: 45px;
    object-fit: cover; 
}

    



{% comment %} FOOTER  CSS {% endcomment %}
/* FOOTER */

.site-footer{
    background: #9ab1fc;
    background: radial-gradient(circle, rgba(154, 177, 252, 1) 0%, rgba(178, 196, 253, 1) 24%, rgba(255, 255, 255, 1) 100%);
    color: #666;
    border-top: 1px solid #dfe3ff;
}

/* TITLE */

.footer-title{
    color: #222;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    position: relative;
    padding-bottom: 10px;
}

.footer-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 45px;
    height: 3px;

    border-radius: 10px;

    background: #6c63ff;
}

/* TEXT */

.brand-text{
    line-height: 1.8;
    font-size: 0.95rem;
    color: #666;
}

/* CARD */

.contributor-card{
    background: white;
    border-radius: 20px;
    padding: 24px 18px;
    text-align: center;
    height: 100%;
    transition: 0.3s;
    box-shadow: 0 5px 20px rgba(108,99,255,0.08);
}

.contributor-card:hover{
    transform: translateY(-6px);
}

/* IMAGE */

.contributor-avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #6c63ff;
}

/* NAME */

.contributor-name{
    color: #222;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
}

/* ROLE */

.contributor-role{
    color: #666;
    font-size: 0.85rem;
    line-height: 1.6;
}

/* ICONS */

.social-links{
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 15px;
}

.social-links a{
    color: #7f79eb;
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
}

.social-links a:hover{
    color: #4f46e5;
}

.footer-bottom{
    background: #9ab1fc;
    text-align:center;
    border-top:1px solid #010815;
    margin-top:40px;
    padding-top:20px;
    color:black;
}
</style>
{% endblock  %}

{% block content %}

<!-- HERO SECTION -->
<section class="py-3">

    <div class="container">

        <div class="hero-box">

            <div class="row align-items-center">

                <!-- LEFT SIDE -->
                <div class="col-lg-6">

                    <!-- BADGE -->
                    <div class="custom-badge mb-4">

                        Welcome to Campus Help Hub 👋

                    </div>

                    <!-- TITLE -->
                    <h1 class="hero-title mb-4">

                        Your Smart <br>

                        College <span>Community</span>

                        Platform

                    </h1>

                    <!-- TEXT -->

                    <p class="hero-text">

                        Post your needs, connect with the right people,
                        and earn reward points by helping others.

                    </p>

                    <!-- BUTTONS -->

                    <div class="mt-4">

                        <a href="{% url 'login' %}"
                           class="btn get-btn">

                            🚀 Get Started

                        </a>

                        <a href="{% url 'helpothers' %}"
                           class="btn explore-btn ms-3">

                            <i class="bi bi-search"></i>

                            Explore Requests

                        </a>

                    </div>
                    

                    <!-- USERS -->
                <div class="mt-5 d-flex align-items-center gap-3">
                    <div class="d-flex">
                        <img src="{% static 'image/man2.png' %}"class="hero-avatar rounded-circle border border-light">

                       <img src="{% static 'image/women.png' %}"class="hero-avatar rounded-circle border border-light ms-n2">
                        <div class="hero-avatar rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center ms-n2">+2k</div>
                    </div>
                    <span class="text-secondary">Trusted by happy users</span>
                </div>
            </div>

                <!-- RIGHT SIDE -->

                <div class="col-lg-6 text-center">

                    <img src="{% static 'image/img.jpeg' %}"
                         class="hero-image">

                </div>
                    
            </div>

        </div>

    </div>

</section>


<!--FOOTER-->
<footer class="site-footer mt-auto pt-5 pb-4">

    <div class="container">

        <div class="row justify-content-between align-items-start">

            <!-- LEFT SIDE -->
            <div class="col-lg-3 mb-4">

                <h5 class="footer-title">
                    Campus Help Hub
                </h5>

                <p class="brand-text">
                    A smart student support platform where students can
                    connect, share problems and get instant help from contributors.
                </p>

            </div>

            <!-- RIGHT SIDE -->
            <div class="col-lg-9">

                <h5 class="footer-title">
                    Our Contributors
                </h5>

                <div class="row g-4">
                    
                    <!-- CARD 1 -->
                    <div class="col-lg-4 col-md-6">

                        <div class="contributor-card">

                            <img
                                src="{% static 'image/isha-img.jpeg' %}"
                                class="contributor-avatar"
                                alt="Isha Singh"
                            >

                            <h6 class="contributor-name">
                                Isha Singh
                            </h6>

                            <p class="contributor-role">
                                Roll No. 235141
                            </p>

                            <p class="contributor-role">
                                Worked on frontend design and UI/UX improvements.
                            </p>

                            <div class="social-links">

                                <a href="https://github.com/ishasinghrajput" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>

                                <a href="https://www.linkedin.com/in/isha-singh-3a131a340" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>

                                <a href="mailto:ishasingh92341@gmail.com">
                                    <i class="fa fa-envelope"></i>
                                </a>

                            </div>

                        </div>

                    </div>
                    <!-- CARD 2 -->
                    <div class="col-lg-4 col-md-6">

                        <div class="contributor-card">

                            <img
                                src="{% static 'image/dipali.jpeg' %}"
                                class="contributor-avatar"
                                alt="Dipali Sah"
                            >

                            <h6 class="contributor-name">
                                Dipali Sah
                            </h6>

                            <p class="contributor-role">
                                Roll No. 235166
                            </p>

                            <p class="contributor-role">
                                Worked on Django backend,
                                authentication and APIs.
                            </p>

                            <div class="social-links">

                                <a href="#" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>

                                <a href="https://www.linkedin.com/in/dipali-gupta-8b0954411" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>

                                <a href="mailto:@gmail.com">
                                    <i class="fa fa-envelope"></i>
                                </a>

                            </div>

                        </div>

                    </div>

                    <!-- CARD 3 -->
                    <div class="col-lg-4 col-md-6">

                        <div class="contributor-card">

                            <img
                                src="{% static 'image/samiksha.jpeg' %}"
                                class="contributor-avatar"
                                alt="Samiksha Kumari"
                            >

                            <h6 class="contributor-name">
                                Samiksha Kumari
                            </h6>

                            <p class="contributor-role">
                                Roll No. 235122
                            </p>

                            <p class="contributor-role">
                                Worked on database management and project testing.
                            </p>

                            <div class="social-links">

                                <a href="https://github.com/samikshashuklaa" target="_blank">
                                    <i class="fa-brands fa-github"></i>
                                </a>

                                <a href="https://www.linkedin.com/in/samiksha-shukla-5b54b32a6" target="_blank">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>

                                <a href="mailto:@example.com">
                                    <i class="fa fa-envelope"></i>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- BOTTOM -->
        <div class="footer-bottom">

            © 2026 Campus Help Hub. All Rights Reserved.

        </div>

    </div>

</footer>
{% endblock %}