{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}

<style>

    body{
        background:background: linear-gradient(135deg,#eef2ff,#f8f9ff);
    }


    .login-card{
        width:400px;
        border:none;
        border-radius:25px;
        transition:0.4s;
        background:linear-gradient(135deg, #bbc0e5, #ecebff); 
    }

    .login-card:hover{
        transform:translateY(-6px);
        box-shadow:0 18px 40px rgba(0,0,0,0.12);
    }

    .form-control{
        border-radius:12px;
        padding:12px;
        border:1px solid #dcdcdc;
    }

    .form-control:focus{
        box-shadow:none;
        border-color:#4f46e5;
    }

    .login-btn{
        border-radius:12px;
        padding:12px;
        font-weight:600;
        transition:0.3s;
    }

    .login-btn:hover{
        transform:scale(1.03);
    }

    .title-text{
        color:#4f46e5;
    }

    .signup-link{
        text-decoration:none;
        font-weight:600;
        transition:0.3s;
    }

    .signup-link:hover{
        color:#4f46e5;
    }

</style>

{% endblock %}

{% block content %}

<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">

    <div class="card shadow-lg p-4 login-card">

        <div class="text-center mb-4">

            <h2 class="fw-bold title-text">
                Welcome Back
            </h2>

            <p class="text-muted">
                Login to Campus Help Hub
            </p>

        </div>
{% comment %} show alert {% endcomment %}
        {% if messages %}

            {% for message in messages %}

                <div class="alert alert-danger">

                    {{ message }}

                 </div>

            {% endfor %}

        {% endif %}
        
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label fw-semibold">
                    Username
                </label>

                <input type="text"
                        name="username"
                        class="form-control"
                        placeholder="Enter username">

            </div>

            <div class="mb-3">

                <label class="form-label fw-semibold">
                    Password
                </label>

                <input type="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter password">

            </div>

            <div class="d-grid mt-4">

                <button class="btn btn-primary login-btn">
                    Login
                </button>

            </div>

        </form>

        <div class="text-center mt-4">

            <p class="mb-0">
                Don't have an account?

                <a href="{% url 'signup' %}" class="signup-link">
                    Sign Up
                </a>
            </p>

        </div>

    </div>

</div>

{% endblock %}